@use './variables.scss' as *;

body {
    height: 100vh;
    &.no-scroll {
        overflow: hidden;
    }
}
* {
    font-size: $textFontSize;
    font-family: $fontFamilyBase;
}
#root {
	height: inherit;
}
* {
    box-sizing: border-box;
} 
