$mainColor: #6C63FF;
$darkMainColor: #534CC2;
$unActiveIconColor: #CDCDCD;
$halfTransparentMainColor: #6C63FF32;
$trashActiveColor: #E50000;

$lightThemeColor: #F7F7F7;
$lightThemeTextColor: #252525;
$lightThemeFocusColor: #6C63FF64;

$darkThemeTextColor: #F7F7F7;
$darkThemeColor: #252525;
$darkThemeFocusColor: #FFFFFF64;

$textFontSize: 16px;
$secondTextFontSize: 20px;
$titleFontSize: 26px;
