@use '../../../app/styles/variables.scss' as *;

.imageBlock {
    margin-bottom: 20px;
}
.caption {
    text-align: center;
    &__light {
        color: $lightThemeTextColor;
    }
    &__dark {
        color: $darkThemeTextColor;
    }
}
