@use '../../../app/styles/variables.scss';

.imageBlock {
    margin-bottom: 20px;
}
.caption {
    text-align: center;
    &__light {
        color: var(--light-theme-text-color);
    }
    &__dark {
        color: var(--dark-theme-text-color);
    }
}
