@use '../../../../app/Styles/Variables.scss' as global;

.text {
    text-transform: uppercase;
    font-size: global.$secondTextFontSize;
    color: global.$lightThemeTextColor;
    font-weight: 500;
    &.checked {
        text-decoration: line-through;
    }
}
