.inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title {
        margin-bottom: 25px;
    }
    .formWrapper {
        flex-grow: 1;
        .form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .input {
                flex-grow: 1;
            }
            .buttonsWrapper {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}
