@use '../../../app/styles/variables.scss';
@use '../../../app/styles/helpers' as *;

.modalButton {
    text-transform: uppercase;
    font-size: var(--button-font-size);
    padding-inline: rem(22);
    padding-block: rem(10);
    border-radius: rem(5);
    border: rem(1) solid var(--main-color);
    cursor: pointer;

    &_cancel {
        background-color: transparent;
        color: var(--main-color);

        @include hover {
            background-color: var(--half-transparent-main-color);
        }
    }
    &_apply {
        background-color: var(--main-color);
        color: var(--dark-theme-text-color);
        
        @include hover {
            background-color: var(--dark-main-color);
        }
    }
}
