@use '../../../app/styles/variables.scss' as *;

.modalButton {
    font-size: $buttonFontSize;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid $mainColor;
    cursor: pointer;
    &_cancel {
        background-color: transparent;
        color: $mainColor;
        &:hover {
            background-color: $halfTransparentMainColor;
        }
    }
    &_apply {
        background-color: $mainColor;
        color: $darkThemeTextColor;
        &:hover {
            background-color: $darkMainColor;
        }
    }
}
