@use '../../../app/styles/variables.scss';

.modalButton {
    font-size: var(--button-font-size);
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid var(--main-color);
    cursor: pointer;
    &_cancel {
        background-color: transparent;
        color: var(--main-color);
        &:hover {
            background-color: var(--half-transparent-main-color);
        }
    }
    &_apply {
        background-color: var(--main-color);
        color: var(--dark-theme-text-color);
        &:hover {
            background-color: var(--dark-main-color);
        }
    }
}
