@use '../../../app/styles/variables.scss';
@use '../../../app/styles/helpers' as *;

.input {
    width: 100%;
    height: rem(38);
    font-family: var(--font-family-accent);
    font-size: var(--input-font-size);
    padding-inline: rem(16);
    padding-block: rem(8);
    border-radius: rem(5);
    background-color: transparent;
    
    &_search {
        padding-right: rem(40);
    }

    &_add {
        padding-right: rem(16);
    }

    &_dark {
        border: rem(1) solid var(--dark-theme-text-color);
        color: var(--light-theme-color);

        &:focus {
            outline: rem(2) solid  var(--dark-theme-focus-color);
        }
    }
    &_light {
        border: rem(2) solid var(--main-color);
        color: var(--light-theme-text-color);

        &:focus {
            outline: rem(2) solid var(--light-theme-focus-color);
        }
    }
}
