@use '../../../app/styles/variables.scss';

.input {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    background-color: transparent;
    font-size: var(--input-font-size);
    width: 100%;
    font-family: var(--font-family-accent);
    height: 38px;
    
    
    &_search {
        padding-right: 40px;
    }
    &_add {
        padding-right: 16px;
    }
    &_dark {
        border: 1px solid var(--dark-theme-text-color);
        color: var(--light-theme-color);
        &:focus {
            outline: 2px solid  var(--dark-theme-focus-color);
        }
    }
    &_light {
        border: 2px solid var(--main-color);
        color: var(--light-theme-text-color);
        &:focus {
            outline: 2px solid var(--light-theme-focus-color);
        }
    }
}
