@use '../../../app/styles/variables.scss';
@use '../../../app/styles/helpers' as *;

.wrapper {
    @include square(rem(50));
    @include flex-center();

    border-radius: 50%;
    border: rem(2) solid var(--main-color);
    background-color: var(--main-color);
    box-shadow: 0 0 rem(4) var(--main-color);
    cursor: pointer;

    @include hover {
        background-color: var(--dark-main-color);
    }
}
