@use '../../../app/styles/variables.scss';

.wrapper {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    box-shadow: 0 0 4px var(--main-color);
    &:hover {
        background-color: var(--dark-main-color);
    }
}
