@font-face {
    font-family: 'Inter';
    src: 
        local('Inter'),
        url('../Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    src:
        local('Kanit'),
        url('../Kanit/Kanit-Medium.ttf') format('truetype');
}
