@use '../../../app/Styles/Variables.scss' as global;

.wrapper {
    border: 2px solid global.$mainColor;
    background-color: global.$mainColor;
    box-shadow: 0 0 4px global.$mainColor;
    color: global.$lightThemeColor;
    border-radius: 5px;
    .inner {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .text {
            text-transform: uppercase;
            font-weight: 500;
            font-size: global.$filtersButtonTextSize;
        }
        .arrow {
            color: inherit;
            &_rotated {
                transform: rotate(180deg);
            }
        }
        .filtersList {
            position: absolute;
            left: 0;
            bottom: 0;
            width: inherit;
            background-color: global.$lightThemeColor;
            border: 1px solid global.$mainColor;
            border-radius: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            .item {
                color: global.$mainColor;
                font-size: global.$textFontSize;
                padding-right: 6px;
                padding-left: 6px;
                text-transform: capitalize;
                cursor: pointer;
                &:hover {
                    background-color: global.$halfTransparentMainColor;
                }   
            }
        }
    }
}
