@use '../../../app/styles/variables.scss';

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    &__dark {
        background-color: var(--dark-theme-color);
    }
    &__light {
        background-color: var(--light-theme-color);
    }
}
