@use '../../../app/styles/variables.scss';

.title {
    text-transform: uppercase;
    font-size: var(--title-font-size);
    text-align: center;
    width: 100%;
    
    &_light {
        color: var(--light-theme-text-color);
    }
    &_dark {
        color: var(--dark-theme-text-color);
    }
}
