@use '../../../app/styles/variables.scss' as *;

.title {
    text-transform: uppercase;
    font-size: $titleFontSize;
    &_light {
        color: $lightThemeTextColor;
    }
    &_dark {
        color: $darkThemeTextColor;
    }
}
