@use '../../../app/Styles/Variables.scss' as global;

.title {
    text-transform: uppercase;
    font-size: global.$titleFontSize;
    text-align: center;
    &_light {
        color: global.$lightThemeTextColor;
    }
    &_dark {
        color: global.$darkThemeTextColor;
    }
}
