@use '../../../app/Styles/Variables.scss' as global;

.wrapper {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: global.$mainColor;
    .inner {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
