@use '../../../app/styles/variables.scss' as *;

.wrapper {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: $mainColor;
    cursor: pointer;
    &:hover {
        background-color: $darkMainColor;
        box-shadow: 0 0 4px 0 $mainColor;
    }
    .inner {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
