@use '../../../../app/styles/variables.scss';
@use '../../../../app/styles/helpers' as *;

.main {
    position: relative;
    flex-grow: 1;
    display: flex;

    &__inner {
        padding-top: rem(30);
        display: flex;
        flex-direction: column;
        row-gap: rem(17);
        padding-bottom: rem(100);
        min-height: 100%;
        flex-grow: 1;
    }

    &__modal_open_button {
        position: fixed;

        @include mobile {
            right: rem(8);
        }
    }
}
