@use '../../../app/styles/helpers' as *;

.modal__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.modal__title {
    width: 100%;
    margin-bottom: rem(25);
    text-align: center;
}

.modal__form {
    flex-grow: 1;
    width: 100%;
}

.modal__close_button {
    position: absolute;
    left: 0;
    bottom: 0;
}
