.inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    .title {
        margin-bottom: 25px;
    }
    .form {
        flex-grow: 1;
    }
    .closeButton {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
