@use '../../../../app/styles/variables.scss';

.text {
    text-transform: uppercase;
    font-size: var(--text-font-size);
    color: var(--light-theme-text-color);
    font-weight: 500;
    &__checked {
        text-decoration: line-through;
    }
    &__light {
        color: var(--light-theme-text-color);
    }
    &__dark {
        color: var(--dark-theme-text-color);
    }
}
