@use '../../../../app/styles/variables.scss' as *;

.text {
    text-transform: uppercase;
    font-size: $textFontSize;
    color: $lightThemeTextColor;
    font-weight: 500;
    &__checked {
        text-decoration: line-through;
    }
    &__light {
        color: $lightThemeTextColor;
    }
    &__dark {
        color: $darkThemeTextColor;
    }
}
