@use '../../../../app/styles/variables.scss';
@use '../../../../app/styles/helpers' as *;

.main {
    position: relative;
    flex-grow: 1;

    &__inner {
        height: 100%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        .listItem {
            border-bottom: 1px solid var(--main-color);
            margin-bottom: 17px;
            &:last-child {
                border: none;
                margin-bottom: 0;
            }
            &__inner {
                padding-bottom: 17px;
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                .listItem__checkbox {
                    margin-right: 7px;
                }
                .listItem__deleteButton {
                    opacity: 0;
                    position: absolute;
                    right: 3px;
                    top: 4px;
                }
            }
            &:hover {
                .listItem__deleteButton{
                    opacity: 1;
                }
            }
        }
    }
    .main__modalOpenButton {
        position: fixed;
        right: 15%;
        bottom: 32px;
        @media (max-width: 500px) {
            right: 8px;
        }
    }
}
