@use '../../../../app/Styles/Variables.scss' as global;

.main {
    width: global.$contentWidth;
    margin: 0 auto;
    height: 100%;
    position: relative;
    &__inner {
        height: inherit;
        padding-top: 30px;
        .listItem {
            border-bottom: 1px solid global.$mainColor;
            margin-bottom: 17px;
            &:last-child {
                border: none;
                margin-bottom: 0;
            }
            &__inner {
                padding-bottom: 17px;
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                .listItem__checkbox {
                    margin-right: 7px;
                }
                .listItem__deleteButton {
                    opacity: 0;
                    position: absolute;
                    right: 3px;
                    top: 4px;
                }
            }
            &:hover {
                .listItem__deleteButton{
                    opacity: 1;
                }
            }
        }
    }
    .main__modalOpenButton {
        position: absolute;
        right: 8px;
        bottom: 32px;
    }
}
