@use '../../../app/styles/variables.scss';

.checkbox {
    width: 26px;
    height: 26px;
    border-radius: 2px;
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 3px;
    &_checked {
        background-color: var(--main-color);
    }
}

.checkMark {
    width: 100%;
    display: none;
    &_checked {
        display: block;
    }
}
