@use '../../../app/styles/variables.scss' as *;

.checkbox {
    width: 26px;
    height: 26px;
    border-radius: 2px;
    border: 1px solid $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 3px;
    &_checked {
        background-color: $mainColor;
    }
}

.checkMark {
    width: 100%;
    display: none;
    &_checked {
        display: block;
    }
}
